.header {
    background-color: #1f2937;
    color: white;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    z-index: 1000;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    transition: color 0.2s ease;
}

.logo:hover {
    color: #d1d5db;
}

.navList {
    display: flex;
    gap: 2rem;
    list-style: none;

}

.navLink {
    transition: color 0.2s ease;
}

.navLink:hover {
    color: #d1d5db;
}